{% extends "layout.html" %}
{% block content %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-log-8 col-md-10 mx-auto">
                {% for post in posts %}
                <div class="post-preview">
                    <h1>{{ loop.index }}</h1>
                    <a href={{ "/post/" + post.slug }}>
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h4 class="post-subtitle">
                            {{ post.subtitle }}
                        </h4>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">{{ post.author }}</a>
                        on {{ post.date_posted.strftime('%b %d, %Y') }}
                    </p>
                </div>
                <hr>
                {% endfor %}
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>
   
    <!-- <div class="posts"> -->
    
{% endblock content %}