{% extends "layout.html" %}

{%block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='scss/stars.css') }} ">
{% endblock css %}

{% block content %}
    <h1>{{ post.title }}</h1>

    <h2>{{ post.subtitle }}</h2>

    <span class="meta">Posted By
        <a href="#">{{ post.author }}</a>
        on {{ post.date_posted.strftime('%b %d, %Y') }}
    </span>

    <!-- Post Content -->

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>
                        {{ post.content | safe}}
                    </p>
                </div>
            </div>
        </div>
    
    </article>
    <div class="Stars" style="--rating: 5;" aria-label="Rating of this product is 2.3 out of 5."></div>

    
{% endblock content %}

{% block js %}
<script src="{{ url_for('static', filename='stars.js') }} "></script>
{% endblock js %}